<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css"
      integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
<head>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/main.css" rel="stylesheet">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <meta charset="UTF-8">
    <title>Board</title>
</head>
<body>
<div id="main-content" class="container">
    <div class="row">
        <div class="border" th:if="${board.size()} > 0">
            <p>Schedule for:
                <span th:text="${board.get(0).station}"></span>
            </p>
            <table id="conversation" class="table">
                <thead>
                <tr>
                    <th>Train number</th>
                    <th>Arrival date time</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="b: ${board}">
                    <td th:text="${b.trainNumber}"></td>
                    <td th:text="${b.getArrivalDateTime()}"></td>
                </tr>
                </tbody>
            </table>
            <a th:href="@{'/home'}"
               class="btn btn-primary mt-5">Back to home page</a>
        </div>
    </div>
</div>
<script>
    var socket = new SockJS('/gs-guide-websocket');
    var stompClient = Stomp.over(socket);
    stompClient.connect({}, function (frame) {
        console.log('Connected: ' + frame);
        stompClient.subscribe('/topic/greetings', function (listenNotification) {
            document.location.reload(true)
            console.log('Message is received ' + listenNotification);
        });
    })</script>

</body>
</html>